h1{
    color: #ffffb3;
    font-size: 100px;

}
html{
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url("img1.jpg");
    font-family: sans-serif;
    
}
.align{
    margin-top: 20%;
}